  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  /*Navbar*/
  .navbar {
    background-color: #ffffff;
    display: flex;
    padding-left: 45px;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .navbarr {
    background-color: #ffffff;
    display: flex;
    padding-left: 45px;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
  }

  .navbar > .navsearch {
    display: flex;
    padding-left: 100px;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .navicon{
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 40px;
    color: #FF4F04;
    padding-left: 400px;
  }

  .ni{
    color: rgb(0, 0, 0);
  }
  .ni:hover{
    color: #FF4F04;
  }


  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    max-width: 1500px;
  }

  .nav-top-menu {
    background-color: #FAFAFA;
    font-size: 13px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align:right;
    width: 100vw;
    position: sticky;
    justify-content: end;
  }

  .navbartop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    max-width: 1600px;
  }

  .navsearch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
  }

  .navsearch input{
    width: 500px;
    height: 35px;
    font-size: 13px;
    padding-left: 20px;
  }
  
   /* Logo */
  .user{
    color: #131313;
  }
  
  .admin{
    color: rgb(0, 255, 255);
  }
  
  .cartsec{
    margin-top: 100px;
    color: rgb(27, 27, 27);
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px;
    list-style: none;
    text-align:right;
    width: 90vw;
  }
  
  .nav-item {
    height: 40px;
  }
  
  .nav-links {
    color: rgb(0, 0, 0);
    display: flex;
    font-size: medium;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }
  .nav-dropdown {
    color: rgb(0, 0, 0);
    display: flex;
    font-size: medium;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-family: 'Roboto', sans-serif;

  }

  .nav-dropdown:hover {
    color: #FF4F04;
    transition: all 0.1s ease-out;
  }
  
  .navtop-links {
    color: rgb(0, 0, 0);
    font-size: smaller;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.01rem 1rem;
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }

  .nav-links:hover {
    color: #FF4F04;
    transition: all 0.1s ease-out;
  }

  .navtop-links:hover {
    color: #FF4F04;
    transition: all 0.1s ease-out;
  }
  
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }

  /* Dropdown */
  .dropdown-menu {
    background: #e75111;
    width: 200px;
    position: absolute;
    top: 40px;
    list-style: none;
    text-align: center;
  }
  
  .dropdown-menu li {
    background: #eb5413;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #f88b5c;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }
  
  /*  */

/*HomeSection*/

.home-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  /* Login */
  .form{
    padding: 20px;
    justify-content: center;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.19);
    height: 50%;
    width: 50%;
  }

.fab{
  list-style-type: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #FF4F04;
  background-color: #fff;
  text-align: center;
  border-radius: 100%;
  margin: 0 11px;
}


.img{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text{
  color: #243762;
  
  font-size: 40px;
}

.social{
  font-size: 35px;
  display:flex;
  color: #FF4F04;
  justify-content:space-around;
  padding:30px;

}

.signwith{
  color: #030303;
  font-weight: bold;
  font-size: 15px;
}


/*Button*/
:root{
  --primary: #fff;
}

.btnMan{
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary{
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline{
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn-medium{
  padding: 8px 20px;
  font-size: 20px;
}

.btn-large{
  padding: 12px 26px;
  font-size: 20px;
}

.btn-medium:hover,
.btn-large:hover{
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}

/* User Profile */
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h2{
  color: #333;
}
.profile-head h4{
  color: #EF8216;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

/* Resposive */
/* Nabvar */
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}

/*Cards*/

.section{
  padding-top: 40px;
  padding-bottom: 40px;
}

.heading{
  color: #FF4F04;
  font-family: fantasy;
}

.underline{
  height: 04px;
  width: 100%;
  background-color: #FF4F04;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cards {
  padding: 4rem;
  background: rgb(221, 221, 221);
}

.cartheading{
  margin-top: 30px;
}

h1 {
  text-align: center;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

/* Footer */
.footer-container {
  background: #32353C;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-subscription-text {
  margin-bottom: 24px;
  font-size: 15px;
  color: #6F6F6F;
}

.footer-input {
  padding: 5px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-bottom: 16px;
  border: 1px solid #fff;
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px;
  text-align: left;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;
}

.footer-link-items > h2 {
  color: #fff;
}

.footer-link-items a {
  color: #6F6F6F;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

.footer-input::placeholder {
  color: #b1b1b1;
}

/* Footer Social Icons */
.social-icon-link {
  font-size: 30px;
}

.social-media {
  max-width: 2000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-rights {
  color: #fff;
  margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
}


.rowNav{
 float: center;
}

